<html>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- CARRUSEL BRANDS -->
<div class="glider-contain">
<div class="carousel__list"></div>
<button aria-label="Previous" class="glider-prev">«</button>
<button aria-label="Next" class="glider-next">»</button>
<div role="tablist" class="dots"></div>
</div>
<br>
<br>
<br>
<br>
<br>
    <!-- HOTTEST CARS -->
    <section id="port-sec">
    
<div class="glider-contain">
    <div id="top"> 
        <h2>🔥HOTTEST CARS RIGHT NOW🔥</h2>
    </div>
    <div class="carousel__visited"></div>
    
    <button aria-label="Previous" class="glider-prev">«</button>
    <button aria-label="Next" class="glider-next">»</button>
    <div role="tablist" class="dots"></div>    
    </div>
</section>

<!-- CATEGORIES -->
<section id="port-sec">
<br>
<br>
<br>
    <div class="cards-list containerCategories" id ="">
    <div id="top">  
        <h2>OUR CATEGORIES</h2>
    </div>
</section>

<!-- TYPE CARS -->
<section id="port-sec">
<br>
<br>
<br>
    <div class="cards-list" id ="containerTypecar">
    <div id="top">  
        <h2>OUR TYPES</h2>
    </div>
</section>

<section id="port-sec">
<br>
<br>
<br>
<div class="books_content"></div>
<div class="btn-more-books"></div>
</section>

</html>

