RewriteEngine on
RewriteBase '/8_MVC_CRUD_V.5/'
# RewriteBase /Framework_PHP_OO_MVC/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
Rewriterule ^([^/]*)/([^/]*)/([^/]*)/([^/]*)$ index.php?module=$1&op=$2&param=$3&param2=$4&param3=$5 [L,NC,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
Rewriterule ^([^/]*)/([^/]*)/([^/]*)/([^/]*)$ index.php?module=$1&op=$2&param=$3&param2=$4 [L,NC,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
Rewriterule ^([^/]*)/([^/]*)/([^/]*)$ index.php?module=$1&op=$2&param=$3 [L,NC,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
Rewriterule ^([^/]*)/([^/]*)$ index.php?module=$1&op=$2 [L,NC,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
Rewriterule ^([^/]*)$ index.php?module=$1&op=$2 [L,NC,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
Rewriterule ^([^/]*)$ index.php?module=$1[L,NC,QSA]