<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

	<form id="recover_pass_form" method="post">
		<h1>Recover Password</h1>
		<div class="recover">
			<div class="password_recover">
				<label for="pass_rec" class="label">Password: </label>
				<br>
				<input id="pass_rec" name="pass_rec" type="password" class="input">
				<font color="red">
					<br>
					<span id="error_password_rec" class="error"></span>
				</font>
			</div>
            <div class="password_recover_2">
				<label for="pass_rec_2" class="label">Repeat Password: </label>
				<br>
				<input id="pass_rec_2" name="pass_rec_2" type="password" class="input">
				<font color="red">
					<br>
					<span id="error_password_rec_2" class="error"></span>
				</font>
			</div>
			<div class="button_forget">
				<input type="button" class="button" id="button_set_pass" value="Set password">
			</div>
		</div>
	</form>
</body>
</html>