<!DOCTYPE html>
<html lang="en">

<head>
	<link href="<?php echo CSS_VIEW_LOGIN ?>login.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<div class="recover_html">
		<div class="login-wrap">
			<div class="login-html">
				<label for="tab-1" class="tab">Recover Password</label>
				<!-- <label for="tab-2" class="tab">WORD</label> -->
				<div class="login-form">
					<form id="recover_pass_form" method="post">
						<div class="group">
							<label type="password" id="pass_rec" class="label">Password</label>
							<input id="passwd1_reg" type="password" class="input" name="passwd1_reg">
							<span id="error_passwd1_reg" class="error"></span>
						</div>
						<div class="group">
							<label type="password" id="pass_rec_2" class="label">REPEAT Password</label>
							<input id="passwd2_reg" type="password" class="input" name="passwd2_reg">
							<span id="error_passwd2_reg" class="error"></span>
						</div>
						<div class="group">
							<input type="submit" id="button_set_pass" class="button" value="change password">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>