<!DOCTYPE html>
<html>
    <head>


	<meta charset="utf-8">
    <title>EGOCARS</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="<?php echo SITE_PATH ?>view/assets/img/favicon.png" rel="icon">
    <link href="<?php echo SITE_PATH ?>view/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="<?php echo SITE_PATH ?>view/assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="<?php echo SITE_PATH ?>view/assets/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="<?php echo SITE_PATH ?>view/assets/lib/animate/animate.min.css" rel="stylesheet">
    <link href="<?php echo SITE_PATH ?>view/assets/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="<?php echo SITE_PATH ?>view/assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="<?php echo SITE_PATH ?>view/assets/css/style.css" rel="stylesheet">

        <!--SOCIAL LOGIN -->
        <script src="https://www.gstatic.com/firebasejs/3.5.2/firebase.js"></script>

     


        <meta charset="utf-8">
        <title>Alta del coche</title>
		<!-- JQUERY -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" />
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
		<!-- <script src="<?php echo SITE_PATH ?>module/user/model/validate_cars.js"></script> -->
		<script type="text/javascript" src="<?php echo SITE_PATH ?>view/js/utils.js"></script>
    	<script type="text/javascript">
        	$(function() {
        		$('#fecha').datepicker({
        			dateFormat: 'dd/mm/yy', 
        			changeMonth: true, 
        			changeYear: true, 
        			yearRange: '1900:2023',
        			onSelect: function(selectedDate) {
        			}
        		});
        	});
	    </script>
	    <link href="<?php echo SITE_PATH ?>view/assets/css/style.css" rel="stylesheet" type="text/css" />
        
        <!-- SEARCH -->
        <script src="<?php echo SITE_PATH ?>module/search/view/js/controller_search.js"></script>
        
        <!-- LOGIN -->
        <script src="<?php echo SITE_PATH ?>module/login/view/js/ctrl_login.js"></script>
        
        <!-- REGISTER -->
        <script src="<?php echo SITE_PATH ?>module/login/view/js/ctrl_register.js"></script>


                <!-- KEYS.JS -->
                <script src="<?php echo SITE_PATH ?>model/keys.js"></script>

        <!-- PAGINATION -->
        <!-- <script type="text/javascript" src="http://botmonster.com/jquery-bootpag/jquery.bootpag.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> -->

        <!-- <script src="view/glider/glider.js"></script> -->
        <!-- <link rel="stylesheet" type="text/css" href="view/glider/glider.css"> -->

		<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


        
        <!-- <script src='https://api.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.css' rel='stylesheet' /> -->

         <!-- ACTIVITY USER -->
    <script src="<?php echo SITE_PATH ?>view/js/activity_user.js"></script>


    </head>
    <body>