<html>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

<body style="background-color:rgb(226, 220, 220) ;">
    <!-- <div class='click-closed'></div> -->

    <div class="filters" id="filters"></div>
    
    <!-- list-cars -->
    <div class="centrado">
    <div class="container_shop" id="content_shop_cars"> </div>

    <!-- details-car -->

    <div id="details-shop">
    <div class="glider-contain">
            <div class="date_img" id="container-date-img"> </div>
            <button aria-label="Previous" class="glider-prev">«</button>
            <button aria-label="Next" class="glider-next">»</button>
            <div role="tablist" class="dots"></div>
        </div>
        <div class="date_car" id="container-date-img"> </div>
        
    </div>
</div>

    <br>
    <div class="div-maps" id="all_maps"></div>
    <div class="pagination" id="pagination_id"></div>

</body>
</html>